.stations {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: stations-appear 1s ease-out forwards;
}

.stations ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes stations-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.input {
  margin-bottom: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
}
